<.flash_group flash={@flash} />
<div>
  <h1>Chapter 2</h1>
  <h2>글자 수 세기</h2>

  <form phx-change="input-change">
    <label for="input">
      글자를 입력하세요 <input type="text" name="input-text" />
    </label>
  </form>
  <div>
    입력 값의 글자 수 는
    <%= if @length > 0 do %>
      <%= @length %> 입니다.
    <% end %>
  </div>
</div>
